

$orbitron : 'Orbitron', sans-serif;
$bungee :  'Bungee', cursive;

$btn-col : black;
$btn-danger-col : #E50913;
$btn-success-col : #17C071;
$btn-bckg-col : #1DA1F2;
$btn-font-size : 12px;
$btn-padding-x : 0;
$btn-padding-y : 0;

$mainFont-size : 15vmin;
$font-big : 15vmin;
$font-medium : 10vmin;
$font-small : 5vmin;
$font-xsmall : 3vmin;
$font-xxsmall : 2vmin;

/*
.txt-xxsmall {
  font-size : $font-xxsmall;
}
.txt-xsmall {
  font-size : $font-xsmall;
}
.txt-small {
  font-size: $font-small;
}
.txt-medium {
font-size : $font-medium;
}
.txt-big {
  font-size: $font-big;
}
*/
@mixin square ($x){
  width : $x;
  height: $x;
}
@mixin rect ($x){
  width: $x;
  height: $x * 0.5;
}
@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin btn-size($btn-font-size, $btn-pad-x, $btn-pad-y){
  font-size : $btn-font-size;
  padding : $btn-pad-y $btn-pad-x;
}
/*
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row{
  display: flex;
  flex-flow: row;
}
*/
* {
  margin : 0;
  pading : 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $bungee;
}
header {
  height: 10vh;
  background-color: blue;
}


#react-app-pomodoro {
  width: 50vw;
  height: 80vh;
  margin: auto;
}
footer {
  height: 10vh;
  background-color: blue;
}
.btn{
  border-radius: 6px;
  background-color: $btn-bckg-col;
  color : $btn-col;
  @include flex-center;
  &:not(:disabled):not(.disabled){
  cursor: pointer;
  font-family: $bungee;
  }
}

.btn-danger{
  background-color: $btn-danger-col
}
.btn-success{
  background-color: $btn-success-col
}
.btn-sm{
  @include rect(5vw);
}
