/*
** Reset default options mixin
*/

@mixin resetDefaults {

  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
/*
** Default buttons config
*/

button {
  border : none;
  text-decoration: none;
}
button:disabled{
  opacity: 0.6;
}

/**
** Margin and padding classes generators
*/

@for $i from 1 to 21 {
  .ml-#{$i}{margin-left : $i * 1px}
  .mr-#{$i}{margin-right : $i * 1px}
  .mt-#{$i}{margin-top : $i * 1px}
  .mb-#{$i}{margin-bottom : $i * 1px}
}

@for $i from 1 to 21 {
  .padl-#{$i}{padding-left : $i * 1px}
  .padr-#{$i}{padding-right : $i * 1px}
  .padt-#{$i}{padding-top : $i * 1px}
  .padb-#{$i}{padding-bottom : $i * 1px}
}

/*
** Font size classes generator
*/

@for $i from 1 to 11 {
  .fsize-#{$i}{font-size: $i/2 * 1em}
}
@for $i from 1 through 100 {
  .height-#{$i}{ height: $i * 1% }
}

/*
** GRID CLASSES
*/

@for $i from 1 through 12 {
  @for $j from 2 through 13{
    .row-#{$i}-#{$j} {
      grid-row-start : $i;
      grid-row-end : $j;
     }
  }
}

@for $i from 1 through 12 {
  @for $j from 2 through 13{
    .col-#{$i}-#{$j} {
      grid-column-start: $i;
      grid-column-end : $j;
    }
  }
}


.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row{
  display: flex;
  flex-flow: row;
}
.flex-col {
  display: flex;
  flex-flow: column;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.space-btwn {
  justify-content: space-between;
}
.space-arnd {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

.full-width {

  width : 100%;
}

.txt-black {
  color: black;
}
.txt-red {
  color : red;
}
