/**
**** BUTTONS SECTION
*/
@mixin rect ($x){
  width: $x;
  height: $x * 0.5;
}

$bungee :  'Bungee', cursive;


button {
  border : none;
  text-decoration: none;
}
button:disabled{
  opacity: 0.6;
}

.counter-container{
  
  width: 14vw;
  font-size: 20px;
  font-family : $bungee;


}
.counter-displayer{
  @include rect(4vw);
}
