/**
**** BUTTONS SECTION
*/
@mixin rect ($x){
  width: $x;
  height: $x * 0.5;
}

$bungee :  'Bungee', cursive;

button {
  border : none;
  text-decoration: none;
}
button:disabled{
  opacity: 0.6;
}

.counter-container{
  
  width: auto;
  font-size: 20px;
  font-family : $bungee;
}
.counter-displayer{

  @include rect(4vw);
}
.lg-container {

  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr;
  grid-template-areas:
      "a a a"
      "b c d"

}
.lg-1-full {
  grid-area: a;
}
.lg-2-c {
  grid-area : c;

}

.lg-2-l {
  grid-area : b;

}
.lg-2-r {
  grid-area : d;
}
